body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #00bfff; /* Color celeste */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

#logo {
    width: 150px; /* Tamaño del logo */
    position: absolute;
    top: 10px;
    left: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}

#process {
    background-color: #f0f0f0; /* Color de fondo ligero para destacar el mensaje */
    padding: 2rem; /* Espacio interno en todos los lados */
    border-radius: 10px; /* Bordes redondeados */
    margin: 2rem auto; /* Margen superior e inferior, centrado horizontalmente */
    max-width: 600px; /* Ancho máximo del cuadro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de profundidad */
    text-align: center; /* Alineación del texto en el centro */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
